<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/formStyle.css">
    <title>Certificate Form</title>
</head>
<body>
    <main>
        <form class="input-form" action="/form-data" method="POST">
                <fieldset class="group-member">
                    <legend>First Member</legend>
                    <div class="input-container">
                        <label class="input-label" for="name1">Name</label>
                        <input type="text" class="input-field" placeholder="Enter name of first member" id="name1" name="name1">
                        <label class="input-label" for="seat1">Seat No</label>
                        <input type="number" class="input-field" placeholder="Enter seat-no of first member" id="seat1" name="seat1">
                    </div>
                </fieldset>
                <fieldset class="group-member">
                    <legend>Second Member</legend>
                    <div class="input-container">
                        <label class="input-label" for="name2">Name</label>
                        <input type="text" class="input-field" placeholder="Enter name of first member" id="name2" name="name2">
                        <label class="input-label" for="seat2">Seat No</label>
                        <input type="number" class="input-field" placeholder="Enter seat-no of first member" id="seat2" name="seat2">
                    </div>
                </fieldset>
                <fieldset class="group-member">
                    <legend>Third Member</legend>
                    <div class="input-container">
                        <label class="input-label" for="name3">Name</label>
                        <input type="text" class="input-field" placeholder="Enter name of first member" id="name3" name="name3">
                        <label class="input-label" for="seat3">Seat No</label>
                        <input type="number" class="input-field" placeholder="Enter seat-no of first member" id="seat3" name="seat3">
                    </div>
                </fieldset>
                <fieldset class="group-member">
                    <legend>Project Info</legend>
                    <div class="input-container">
                        <label class="input-label" for="topic">Topic</label>
                        <input type="text" class="input-field" placeholder="Enter name of first member" id="topic" name="topic">
                        <label class="input-label" for="guide">Guide</label>
                        <input type="text" class="input-field" placeholder="Enter seat-no of first member" id="guide" name="guide">
                    </div>
                </fieldset>
                <div class="btn-group">
                    <button type="submit">Submit</button>
                    <button type="reset">Reset</button>
                </div>
        </form><br>
        <p class="p-text">Made with ❤️ by Vighnesh Manjrekar</p>
    </main>
</body>
</html>